<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+20+Charted&family=Jersey+25&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <!-- SECRET_KEY: PP_HACK_CAMP -->
    <h1>{{data | safe}}</h1>
</body>
</html>