*{margin:0; padding:0; border-collapse: none;box-sizing: border-box; color:#333;font-family: "font";}
::-webkit-scrollbar {
    display: none;
}
.h{height:5vh}
.wrap{max-width: 50%;text-align: center;padding-top:10vh;position: fixed;transform: translate(-50%,-50%);left:50%;top:45%}

h1{font-size:4em}
p{font-size:1.8em;}
p span{color:#BB1C80}

.a{background:#EFE68C;width:50%;margin:0 auto;border:2px solid gray;padding:15px 0}
.a p{font-size:1.5em;}
input{width:50%;height:40px;text-indent: 10px;font-size:1.2em}
button{width:20%;height:40px;border:none;font-size:1.5em;background:brown;color:white}

img:nth-child(1){position: absolute;width:350px;right:5%;top:43%;z-index: 0;}
img:nth-child(2){position: absolute;width:300px;left:5%;top:40%;z-index: 0;}